<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478812076219-gf41fne63v8qh1tqoojuk1dqb3j1e81u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478812076219-gf41fne63v8qh1tqoojuk1dqb3j1e81u</string>
	<key>API_KEY</key>
	<string>AIzaSyDiwa2EYeHzGFosKYhohaHb7WNMl14yIIU</string>
	<key>GCM_SENDER_ID</key>
	<string>478812076219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cmpcapstone.structuretesting</string>
	<key>PROJECT_ID</key>
	<string>cmp-capstone</string>
	<key>STORAGE_BUCKET</key>
	<string>cmp-capstone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478812076219:ios:bb08a861cfa1fb040a119e</string>
</dict>
</plist>